{% extends "base.html" %}
{% load static %}

{% block main %}
    <h1>Pick your movie!</h1>
    <p>Watch the best trailers in a single place. :-)</p>   
{% endblock main %}

{% block content %}
    <link href="{% static 'movies/css/movies.css' %}" rel="stylesheet">
    <script src="{% static 'movies/js/movies.js' %}"></script>

    <!-- Trailer Video Modal -->
    <div class="modal" id="trailer">
        <div class="modal-dialog">
            <div class="modal-content">
                <a href="#" class="hanging-close" data-dismiss="modal" aria-hidden="true">
                    <img src="https://lh5.ggpht.com/v4-628SilF0HtHuHdu5EzxD7WRqOrrTIDi_MhEG6_qkNtUK5Wg7KPkofp_VJoF7RS2LhxwEFCO1ICHZlc-o_=s0#w=24&h=24"/>
                </a>
                <div class="scale-media" id="trailer-video-container"></div>
            </div>
        </div>
    </div>

    <!-- Display each found movie (two in each row) -->
    {% for movie in movies %}
        <div class="col-md-6 col-lg-6 movie-tile text-center" data-trailer-youtube-id="{{ movie.trailer_url }}" data-toggle="modal" data-target="#trailer">
            <img class="movie-cover" src="{{ movie.cover_image_url }}">
            <h4>{{ movie.name }}</h4>
            <p>{{ movie.sinopse }}</p>
        </div>
    {% endfor %}
{% endblock content %}
