{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="A great Movies Trailers repository!">
	    <meta name="author" content="Weder Ribas, 2017">
	    <link rel="icon" href="{% static 'images/favicon.ico' %}">

		<title>{{ title }} | {% block title %}Movies Trailer Website{% endblock title %}</title>

		<script
    		src="https://code.jquery.com/jquery-3.2.1.min.js"
    		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    		crossorigin="anonymous">
    	</script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Custom styles for this template -->
    	<link href="{% static 'css/jumbotron-narrow.css' %}" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="header clearfix">
				<nav>
					<ul class="nav nav-pills pull-right">
						<li role="presentation" id="home"><a href="/">Home</a></li>
						<li role="presentation" id="about"><a href="/about">About</a></li>
						<li role="presentation" id="admin"><a href="/admin">Admin</a></li>
					</ul>
				</nav>
				<h3 class="text-muted">Movies Trailer</h3>
			</div>
			<div class="jumbotron">
				{% block main %}
				{% endblock main %}
			</div>
			<div class="row marketing">
				{% block content %}
				{% endblock content %}
			</div>
			<footer class="footer">
				<p>&copy; 2017 Weder Ribas, Inc.</p>
			</footer>
		</div>
	</body>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="{% static 'js/main.js' %}"></script>
</html>
